@keyframes red-to-black {
  from {color: red;}
  to {color: black;}
}

.animate-change {
    color: black;
    animation-name: red-to-black;
    animation-duration: 3s;
}

html {
    /* https://aykevl.nl/2014/09/fix-jumping-scrollbar */
    width: 100vw;
    overflow-x: hidden;
}
